* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #b3d1d6;
}

.wrapper {
    width: 1210px;
    margin: 0 auto;
    position: relative;
}

.prompt {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #f2f0f1;
    text-align: center;
    line-height: 60px;
    display: none;
}

.wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper .content {
    width: 230px;
    list-style: none;
    float: left;
    margin-left: 15px;
}

.wrapper div {
    width: 230px;
    margin-top: 15px;
    /*图片未加载完成时，使用gif图片替代*/
    background: #f2f0f1 url(../img/loading.gif) no-repeat center center;
}

.wrapper img {
    width: 230px;
}

.top {
    position: fixed;
    right: 5px;
    bottom: 30px;
    font-size: 14px;
    color: #fff;
}

.top .icon {
    margin-top: 15px;
    cursor: pointer;
}